﻿@page "/apple"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@rendermode RenderMode.InteractiveServer

<PageTitle>Apple</PageTitle>


<div class="container-fluid mx-0">
    <div class="row myrow">
        <div class="order-2 col-7 tab-right-content">            
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-info-tab" data-bs-toggle="pill" data-bs-target="#pills-info" type="button" role="tab" aria-controls="pills-info" aria-selected="true">Инфо</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-log-tab" data-bs-toggle="pill" data-bs-target="#pills-log" type="button" role="tab" aria-controls="pills-log" aria-selected="false">Лог</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-settings-tab" data-bs-toggle="pill" data-bs-target="#pills-settings" type="button" role="tab" aria-controls="pills-settings" aria-selected="false">Параметры</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab"><Info Message="@globalstring" /></div>
                <div class="tab-pane fade" id="pills-log" role="tabpanel" aria-labelledby="pills-log-tab"><Logger/></div>
                <div class="tab-pane fade" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab"><Settings/></div>
            </div>
        
        </div>
        <div class="order-1 col schema-main">            
            <table class="main-schema">
                <tr>
                    <th colspan="2" style="height:7%">
                        <h1>setup @Configuration["setuGUID"]</h1>
                    </th>
                </tr>
                <tr>
                    <th style="width:80%">
                        <Schema OnClickCallback="@LoadChamberShowInfo"> </Schema>
                    </th>
                    <th>
                        Здесь узлы МКП, лазер, источник напряжения
                    </th>
                </tr>
                <tr>
                    <th colspan="2" style="height:10%">здесь узлы второстепенные</th>
                </tr>
                <tr>
                    <th colspan="2" style="height:10%">здесь стайты</th>
                </tr>
            </table>
        </div>
    </div>
</div>

@code{
    string globalstring = "no data";
    void LoadChamberShowInfo( int val)
    {
        string caption = "";
        switch (val)
        {
            case 0:
                caption = "LL chamber parameters";
                break;
            case 1:
                caption = "AC chamber parameters";
                break;
            case 2:
                caption = "LL TMP parameters";
                break;
            case 3:
                caption = "AC TMP parameters";
                break;
            case 4:
                caption = "LL scrollpump parameters";
                break;
            case 5:
                caption = "AC scrollpump parameters";
                break;
            case 6:
                caption = "UPC parameters";
                break;
            case 7:
                caption = "I7045 DO parameters";
                break;
            default:

                break;        
        }
        globalstring = caption;
        StateHasChanged();
        
    }
}

