﻿body {
}
.tab-right-content{
    float: right;
    width: 30%;
    height: 100%;
    margin: 2px;
    background-color: azure;
}
.schema-main{
    float: left;
    background-color:antiquewhite;
    width: 70%;
    padding: 0px;
}

.container-fluid {
    height: 100%;
    min-height: 100%;
}
.myrow{
    height: 100%;
}
th,
td {
    border: 1px solid rgb(160 160 160);
}
.schema-main{
    width: 100%;
}
table{
    width:100%;
    height: 100%;
}