﻿@page "/commonscheme"
@rendermode RenderMode.InteractiveServer
@using TestClientBlazorWAS.Models
@inject IHttpClientFactory ClientFactory

<PageTitle>Commonscheme</PageTitle>

<div class="d-flex">
    <div class="container container-scheme-constructor">        
        <DndContainer Units="Units" OnStatusUpdated="HandleStatusUpdated" OnCopyUnit="AddCopy" OnRemoveUnit="RemoveUnit">
            <ItemsList ListStatus="UnitStatuses.Setup" AllowedStatuses="@(new UnitStatuses[] { UnitStatuses.List})" />
            <ItemsList ListStatus="UnitStatuses.List" AllowedStatuses="@(new UnitStatuses[] { UnitStatuses.Setup})" />            
        </DndContainer>
    </div>  
    <div class="container container-buttons d-flex flex-column">
        <button type="button" class="btn btn-outline-primary send-rec-btn scheme-control" onclick="@(()=>OnClickSendScheme())">Send scheme</button>
        <button type="button" class="btn btn-outline-primary send-rec-btn scheme-control" onclick="@(()=>OnClickLoadScheme())">Load scheme</button>
        <label class="scheme-control" for="setup-id">SetupId :</label>
        <input class="scheme-control" id="setup-id" type="text" maxlength="36" @bind-value=@setupId/>
    </div>
</div>

@code {
    List<UnitModel> Units = new List<UnitModel>();
    private string setupId;
    protected override void OnInitialized()
    {
        FillDefaultunits();
    }
    private void FillDefaultunits()
    {
        foreach (var part in (PartType[])Enum.GetValues(typeof(PartType)))
        {
            Units.Add(new UnitModel { Id = 1, PartType = part, Status = UnitStatuses.List, LastUpdated = DateTime.Now });
        }
    }
    void HandleStatusUpdated(UnitModel updatedJob)
    {
        Console.WriteLine(updatedJob.PartType);
    }
    void AddCopy(UnitModel unit)
    {
        Units.Add(unit);        
    }
    void RemoveUnit(UnitModel unit)
    {
        Units.Remove(unit);
    }
    /// <summary>
    /// отправка схемы установки в БД
    /// </summary>
    private async void OnClickSendScheme()
    {
        using HttpClient httpClient = ClientFactory.CreateClient();
        var setupUnits = Units.Where(x => x.Status == UnitStatuses.Setup);
        //получить словарь типа <типузла,ИД>
        Dictionary<PartType, int> ids = GetPartTypeArray(setupUnits.ToList());
        foreach (var unit in setupUnits)
        {
            //Console.WriteLine(unit.PartType);
            for (int i = 0; i < GetParamsCount(unit.PartType); i++)
            {
                Console.WriteLine($"part {unit.PartType}, ID {ids[unit.PartType]}, param {GetParamsStart(unit.PartType) + i}");

                if (Guid.TryParse(setupId, out Guid id))
                {
                    //отправить каждый параметр как запись в базу
                    var response = await httpClient.PostAsync($"http://localhost:8001/Schema/postschema?setup={id}&partType={(int)unit.PartType}&unitId={ids[unit.PartType]}&name={"ga-ga"}&decription={"ha-ha"}&paramId={GetParamsStart(unit.PartType) + i}&paramValue={0}", null);
                    if (!response.IsSuccessStatusCode)
                    {
                        Console.WriteLine($"error in POST OnClickSendScheme{response.StatusCode}");
                    }
                }
            }
            //увеличить счетчик ИД параметров в базе
            ids[unit.PartType] += 1;
        }
    }
    /// <summary>
    /// создает по списку словарь типа типузл-ИД
    /// </summary>
    /// <param name="list"></param>
    /// <returns></returns>
    private Dictionary<PartType,int> GetPartTypeArray(List<UnitModel> list)
    {
        Dictionary<PartType, int> ans = new Dictionary<PartType, int>();
        foreach(var t in list)
        {
            if (!ans.ContainsKey(t.PartType))             
            {
                ans.Add(t.PartType, 0);
            }
        }
        return ans;
    }
    /// <summary>
    /// получить число параметров в типе узла
    /// </summary>
    /// <param name="part"></param>
    /// <returns></returns>
    private int GetParamsCount(PartType part)
    {
        switch (part)
        {
            case(PartType.Gauge):
                return 1;
            case (PartType.Switcher):
                return 16;
            case (PartType.TurbomolecularPump):
                return 1;
            case (PartType.UPC):
                return 8;

            default:
                return 1;
        }
    }
    /// <summary>
    /// начальное занчение параметра
    /// </summary>
    /// <param name="part"></param>
    /// <returns></returns>
    private int GetParamsStart(PartType part)
    {
        switch (part)
        {
            case (PartType.Gauge):
                return 1;
            case (PartType.Switcher):
                return 109;
            case (PartType.TurbomolecularPump):
                return 1;
            case (PartType.UPC):
                return 1;
            default:
                return 1;
        }
    }
    /// <summary>
    /// Загрузить схему установки
    /// </summary>
    private async void OnClickLoadScheme()
    {
        if (Guid.TryParse(setupId, out Guid id))
        {
            HttpClient httpClient = ClientFactory.CreateClient();
            var response = await httpClient.GetFromJsonAsync<List<SchemaModel>>($"http://localhost:8001/Schema/getschema/{id}");
            if (response != null && response.Count > 0)
            {
                //очищаем список                
                Units.Clear();
                FillDefaultunits();
                foreach (SchemaModel t in response)
                {
                    if (!FindUnitModel(t.PartType, t.UnitId))
                    {
                        Units.Add(new UnitModel { Id = t.UnitId, PartType = t.PartType, Status = UnitStatuses.Setup });
                    }                    
                }
            }
            StateHasChanged();
        }
    }
    private bool FindUnitModel(PartType partType, int unitId)
    {
        bool ans = false;
        foreach(var u in Units)
        {
            if (u.PartType == partType && u.Id == unitId && u.Status==UnitStatuses.Setup) return true;
        }
        return ans;
    }
}


