﻿body {
}
.d-flex {
    height: 100%;
    min-height: 100%;
    flex:auto;
}
.tab-right-content{
    background-color:antiquewhite;
    width:50%;
    height:100%;
}
.container-scheme {
    height: 100%;
    background-color: paleturquoise;
    width: 90%;
    display: flex;
    padding: 0px;
}
.container-buttons{
    height:100%;
    background-color: aliceblue;
    width: 10%;
    padding:0px;
}
.send-rec-btn{
    margin:5px;
}