﻿@page "/defaultscheme"
@rendermode RenderMode.InteractiveServer
@using TestClientBlazorWAS.Models
@using System.Collections.Concurrent
@inject IHttpClientFactory ClientFactory
@implements IDisposable

<PageTitle>DefaultScheme</PageTitle>

<div class="d-flex">
    <div class="container container-scheme d-flex flex-wrap">
        <div class="setup-part">
            @foreach (var part in CurrentSetup.Parts)
            {
                switch (part.PartType)
                {
                    case PartType.Switcher:
                        <I7045D 
                            About="@CurrentSetup.Description" 
                            DOstate="@part.Data" 
                            Names="part.ParamsNames"
                                OnClickOnCallback="@OnClickOn"
                                OnClickOffCallback="@OnClickOff" 
                                UnitId="part.unitId"></I7045D>
                        break;
                    default:
                        <p>no data</p>
                        break;
                }
            }
        </div>
    </div>  
    <div class="container container-buttons">
        <button type="button" class="btn btn-outline-primary send-rec-btn" onclick="@(()=>OnClickStart())">Start</button>
        <button type="button" class="btn btn-outline-primary send-rec-btn" >Stop</button>
        <button type="button" class="btn btn-outline-primary send-rec-btn" onclick="@(()=>OnClickUpdate())">Update</button>

    </div>
</div>

@code {
    public SetupModel CurrentSetup;
    private System.Threading.Timer? timer;
    //private ConcurrentDictionary<int, string> DOcolor { get; set; } = new ConcurrentDictionary<int, string>();

    protected async override void OnInitialized()
    {
        CurrentSetup = new SetupModel();
        //ЗАГЛУШКА TODO пол логину выбор (хз где делать)
        CurrentSetup.Id = Guid.Parse("3fa85f64-5717-4562-b3fc-2c963f66afa6");               
        CurrentSetup.Parts = new List<SetupPartModel>();        
        await GetSchema();
        StateHasChanged();
    }
    private async Task GetSchema()
    {
        HttpClient httpClient = ClientFactory.CreateClient();
        var response = await httpClient.GetFromJsonAsync<List<SchemaModel>>($"http://localhost:8001/Schema/getschema/{CurrentSetup.Id}");
        var responseData = await httpClient.GetFromJsonAsync<StateDataResponse>($"http://localhost:8001/StateData/getfulldata/{CurrentSetup.Id}");
        if (response!= null && response.Count>0)
        {
            CurrentSetup.Description = response[0].Description;
            foreach (SchemaModel t in response)
            {
                AddParams((PartType)t.PartType, t.UnitId, t.ParamId, t.ParamValue, t.Name, responseData);
            }
        }
    }
    private void AddParams(PartType partType, int unitId, int param, float paramValue, string pName, StateDataResponse realData)
    {
        //есть в установке такая деталь (тип + ид)
        //нет - создаем
        if (!CurrentSetup.ContainsPart(partType, unitId))
        {
            CurrentSetup.Parts.Add(new SetupPartModel() 
            { 
                PartType = partType, 
                LastUpdated = DateTime.Now, 
                Status = UnitStatuses.Setup, 
                Data = new ConcurrentDictionary<int, float>(), 
                unitId = unitId,
                ParamsNames = new ConcurrentDictionary<int, string>() //это потом надо в моедль добавить 
            });
        }
        //есть в детале (тип + ид) такой ИД параметр
        //нет - создаем        
        if (CurrentSetup.GetPart(partType, unitId) != null)
        {
            //TODO ЗАГЛУШКА не визуализации неправильных или отсутвующих данных
            float _paramValue = realData.GetValue(partType, unitId, param);
            CurrentSetup.GetPart(partType, unitId).Data.AddOrUpdate(param, paramValue, (x, y) => _paramValue);
            CurrentSetup.GetPart(partType, unitId).ParamsNames.AddOrUpdate(param, pName, (x, y) => pName);
        }
    }
    private async void OnClickStart()
    {        
        timer = new System.Threading.Timer(_ =>
        {
            InvokeAsync(StateHasChanged);
            GetSchema();
        }, null, 500, 200);
        await GetSchema();
        StateHasChanged();
        //запустить таймер
    }
    private async void OnClickUpdate()
    {
        await GetSchema();
        StateHasChanged();
    }
    private async void OnClickOn(Models.ParamDto param)
    {        
        HttpClient httpClient = ClientFactory.CreateClient();
        using var response = await httpClient.PostAsync($"http://localhost:8001/StateData/updatedata?setup={CurrentSetup.Id}&partType={(int)param.PartType}&unitId={param.UnitId}&key={param.param}&newValue=1", null);
        if (!response.IsSuccessStatusCode)
        {
            Console.WriteLine($"Error in OnClickOn {response.StatusCode}");
        }
    }
    private async void OnClickOff(Models.ParamDto param)
    {
        HttpClient httpClient = ClientFactory.CreateClient();
        using var response = await httpClient.PostAsync($"http://localhost:8001/StateData/updatedata?setup={CurrentSetup.Id}&partType={(int)param.PartType}&unitId={param.UnitId}&key={param.param}&newValue=0", null);
        if (!response.IsSuccessStatusCode)
        {
            Console.WriteLine($"Error in OnClickOn {response.StatusCode}");
        }
    }
    void IDisposable.Dispose()
    {
        timer?.Dispose();
        timer = null;
    }
}


