﻿@rendermode InteractiveServer
@using TestClientBlazorWAS.Models

<PageTitle>DndContainer</PageTitle>

<div class="jobs-container">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter]
    public List<UnitModel> Units { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public EventCallback<UnitModel> OnStatusUpdated { get; set; }
    [Parameter]
    public EventCallback<UnitModel> OnCopyUnit { get; set; }
    [Parameter]
    public EventCallback<UnitModel> OnRemoveUnit { get; set; }

    public UnitModel Payload { get; set; }

    public async Task UpdateJobAsync(UnitStatuses newStatus)
    {
        var task = Units.SingleOrDefault(x => x.Id == Payload.Id);
        Console.WriteLine(Payload.Id);
        if (task != null)
        {
            task.Status = newStatus;
            task.LastUpdated = DateTime.Now;
            await OnStatusUpdated.InvokeAsync(Payload);
        }
    }
    public async Task AddCopyUnit(UnitModel model)
    {
        //Console.WriteLine("copy Unit");
        await OnCopyUnit.InvokeAsync(model);
    }
    public async Task RemoveUnitFromSetup(UnitModel model)
    {
        //Console.WriteLine("remove Unit");
        await OnRemoveUnit.InvokeAsync(model);
    }
}
