﻿@page "/I7045DOinfo"
@implements IDisposable
@inject IHttpClientFactory ClientFactory
@using System.Collections.Concurrent
@rendermode RenderMode.InteractiveServer

<PageTitle>I7045DOinfo</PageTitle>

<h3>I7045DOinfo</h3>
@if (I7045data!=null)
{
    foreach(var par in I7045data)
    {
        <p>@par.Key  и   @par.Value</p>
    }
}


@code {
    //string? time;
    ConcurrentDictionary<int, float> I7045data;
    private System.Threading.Timer? timer;
    async Task GetData()
    {
        HttpClient httpClient = ClientFactory.CreateClient();
        var response = await httpClient.GetFromJsonAsync<ConcurrentDictionary<int, float>>("http://localhost:8700/StateData/unitparams/3fa85f64-5717-4562-b3fc-2c963f66afa6/2/4");
        I7045data = response;

    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        timer = new System.Threading.Timer(_ =>
        {
            InvokeAsync(StateHasChanged);
            GetData();
        }, null, 500, 500);
    }

    void IDisposable.Dispose()
    {
        timer?.Dispose();
        timer = null;
    }
}
