﻿@page "/Info"
@rendermode RenderMode.InteractiveServer
<PageTitle>Info</PageTitle>

<h3>Info</h3>
@switch (Message)
{
    case "LL chamber parameters":
        <p>Это специалдьный текст для загрузочного объема test </p>
        <I7045DOinfo></I7045DOinfo>
        break;
    case "AC chamber parameters":
        <p>Это специалдьный текст для анализационного объема</p>
        break;
    case "LL TMP parameters":
        <p>Это специалдьный текст для турбомлекулярного насоса загрузочного объема</p>
        break;
    case "AC TMP parameters":
        <p>Это специалдьный текст для турбомлекулярного насоса анализационного объема</p>
        break;
    case "LL scrollpump parameters":
        <p>Это специалдьный текст для форвакуумного насоса загрузочного объема</p>
        break;
    case "AC scrollpump parameters":
        <p>Это специалдьный текст для форвакуумного насоса анализационного объема</p>
        break;
    case "UPC parameters":
        <p>Это специалдьный текст для ИБП</p>
        break;
    case "I7045 DO parameters":
        <p>Это специалдьный текст для DO</p>
        break;
    default:
        <p>no data</p>
        break;

}

@code {
    [Parameter]
    public string Message { get; set; } = "default";
}
