﻿@using TestClientBlazorWAS.Models
@rendermode RenderMode.InteractiveServer


<div class="container units-status">
    <div class="header-list">
        <h3>@ListStatus (@Units.Count())</h3>
    </div>    
    <ul class="dropzone @dropClass" 
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">

        @foreach (var job in Units)
        {
            <Item Unit="job" />
        }

    </ul>
    
</div>

@code {
    [CascadingParameter] DndContainer Container { get; set; }
    [Parameter] public UnitStatuses ListStatus { get; set; }
    [Parameter] public UnitStatuses[] AllowedStatuses { get; set; }

    List<UnitModel> Units = new List<UnitModel>();
    string dropClass = "";

    protected override void OnParametersSet()
    {
        Units.Clear();
        Units.AddRange(Container.Units.Where(x => x.Status == ListStatus));
    }

    private void HandleDragEnter()
    {
        if (ListStatus == Container.Payload.Status) return;

        if (AllowedStatuses != null && !AllowedStatuses.Contains(Container.Payload.Status))
        {
            dropClass = "no-drop";
        }
        else
        {
            dropClass = "can-drop";
        }
    }

    private void HandleDragLeave()
    {
        dropClass = "";
    }

    private async Task HandleDrop()
    {
        dropClass = "";
        //Console.WriteLine("handle drop");

        if (AllowedStatuses != null && !AllowedStatuses.Contains(Container.Payload.Status)) return;

        //await Container.UpdateJobAsync(ListStatus);
        if (Container.Payload.Status == UnitStatuses.List)
        {
            int _newId = Container.Units.Count + 1;
            await Container.AddCopyUnit(new UnitModel() { Id = _newId, PartType = Container.Payload.PartType, LastUpdated = DateTime.Now, Status = UnitStatuses.Setup });
        }
        else
        {
            await Container.RemoveUnitFromSetup(Container.Payload);
        }
    }
}
