﻿body {
}
.draggable{
    min-height:40px;
    min-width:40px;
    width:100%;
    
    background-color:lightskyblue;
    border:2px solid black;
}
.description{
    padding:0px;
    margin:0px;
}
.item-list{
    height:100%;
}