﻿body {
}
.units-status {
    min-height: 40px;
    min-width: 40px;
    width: 100%;
    height: 100%;
    padding:0px;
}
.dropzone{
    height:95%;
    background-color:lightgrey;
    padding:0px;
    margin:0px;
}
.header-list{
    height:5%;
}