﻿@using TestClientBlazorWAS.Models

@rendermode RenderMode.InteractiveServer


<div class="draggable" draggable="true" title="@Unit.PartType" @ondragstart="@(() => HandleDragStart(Unit))">
    <div class="d-flex flex-column item-list">
        <p class="description">@Unit.PartType</p>
        @{
            switch (Unit.PartType)
            {
                case PartType.Gauge:
                
                    break;
                case PartType.Switcher:
                    <I7045Dconst></I7045Dconst>
                    break;
                    case PartType.UPC:
                    <UPC_const></UPC_const>
                    break;
                default:
                    <p>no data</p>
                    break;
            }

        }
    </div>
</div>

@code {
    [CascadingParameter] DndContainer Container { get; set; }
    [Parameter] public UnitModel Unit { get; set; }

    private void HandleDragStart(UnitModel selectedJob)
    {
        Container.Payload = selectedJob;
        //Console.WriteLine("drag started");
    }
}
