﻿@page "/Schema"


<PageTitle>Schema</PageTitle>

<table>
    <tr style="height:12%">
        <th>
            <div class="cell-container">
                <h6>cell</h6>
            </div>
        </th>
        <th>
            <div class="cell-container">
                <h6>cell</h6>
            </div>
        </th>
        <th>
            <div class="cell-container">
                <h6>cell</h6>
            </div>
        </th>
        <th>
            <div class="cell-container">
                <h6>cell</h6>
            </div>
        </th>
        <th colspan="2">
            <div class="cell-container">
                <h6>Cryostate</h6>
            </div>
        </th>
    </tr>
    <tr>
        <th style="width:24%">
            <div class="cell-container">
                <h6>transfer</h6>
            </div>
        </th>
        <th colspan="2" style="width:34%; background-color:palegreen" @onclick="@OnClickLL">
            <div class="cell-container">
                <h6>Load chamber</h6>
            </div>
        </th>        
        <th style="width:8%">
            <div class="cell-container">
                <h6>cell</h6>
            </div>
        </th>
        <th colspan="2" style="background-color:palegreen" @onclick="@OnClickAC">
            <div class="cell-container" >
                <h6>Analalysis chamber</h6>
            </div>
        </th>
    </tr>
    <tr style="height:10%">
        <th style ="width:24%">
            <div class="cell-container">
                
            </div>
        </th>
        <th rowspan="2" id="tmp-ll" style="width:17%" class="image-cell" @onclick="@OnClickLL_TMP">
            <div class="cell-container">
                <img  src="images/units/tmp.png" class="img-fluid" alt="TMP LL"/>
            </div>
        </th>
        <th style ="width:17%">
            <div class="cell-container">
                <h6>10E-20 Torr</h6>
            </div>
        </th>
        <th style ="width:8%">
            <div class="cell-container">
                
            </div>
        </th>
        <th rowspan="2" style="width:17%" class="image-cell" @onclick="@OnClickAC_TMP">
            <div class="cell-container">
                <img src="images/units/tmp.png" class="img-fluid" alt="TMP AC"  />
            </div>
        </th>
        <th>
            <div class="cell-container">
                <h6>10E-20 Torr</h6>
            </div>
        </th>
    </tr>
    <tr style="height:10%">
        <th>
            <div class="cell-container">
                
            </div>
        </th>
        <th>
            <div class="cell-container">
                
            </div>
        </th>
        <th>
            <div class="cell-container">
                
            </div>
        </th>
        <th>
            <div class="cell-container">
                <h6>1000 Hz</h6>
            </div>
        </th>
    </tr>
    <tr style="height:9%">
        <th>
            <div class="cell-container">
                
            </div>
        </th>
        <th class="image-cell">
            <div class="cell-container">
                <img src="images/units/valve.png" class="img-fluid" alt="LL valve" />
            </div>
        </th>
        <th>
            <div class="cell-container">
                
            </div>
        </th>
        <th>
            <div class="cell-container">
                
            </div>
        </th>
        <th class="image-cell">
            <div class="cell-container">
                <img src="images/units/valve.png" class="img-fluid" alt="AC valve" />
            </div>
        </th>
        <th>
            <div class="cell-container">
                
            </div>
        </th>
    </tr>
    <tr style="height:10%">
        <th>
            <div class="cell-container">
                
            </div>
        </th>
        <th rowspan="2" class="image-cell" @onclick="@OnClickLL_ScrollPump">
            <div class="cell-container">
                <img src="images/units/scrollpump.png" class="img-fluid" alt="LL scrollpump" />
            </div>
        </th>
        <th>
            <div class="cell-container">
                <h6>10E-20 Torr</h6>
            </div>
        </th>
        <th>
            <div class="cell-container">
                
            </div>
        </th>
        <th rowspan="2" class="image-cell" @onclick="@OnClickAC_ScrollPump">
            <div class="cell-container">
                <img src="images/units/scrollpump.png" class="img-fluid" alt="AC scrollpump" />
            </div>
        </th>
        <th>
            <div class="cell-container">
                <h6>10E-20 Torr</h6>
            </div>
        </th>
    </tr>
    <tr style="height:10%">
        <th>
            <div class="cell-container">

            </div>
        </th>
        <th>
            <div class="cell-container">
                
            </div>
        </th>
        <th>
            <div class="cell-container">
                
            </div>
        </th>
        <th>
            <div class="cell-container">
                <h6>cell</h6>
            </div>
        </th>
    </tr>
</table>

@code {
    [Parameter]
    public EventCallback<int> OnClickCallback { get; set; }
    async Task OnClickLL()
    {
        await OnClickCallback.InvokeAsync(0);
    }
    async Task OnClickAC()
    {
        await OnClickCallback.InvokeAsync(1);
    }
    async Task OnClickLL_TMP()
    {
        await OnClickCallback.InvokeAsync(2);
    }
    async Task OnClickAC_TMP()
    {
        await OnClickCallback.InvokeAsync(3);
    }
    async Task OnClickLL_ScrollPump()
    {
        await OnClickCallback.InvokeAsync(4);
    }
    async Task OnClickAC_ScrollPump()
    {
        await OnClickCallback.InvokeAsync(5);
    }
}
