﻿@page "/weather"
@implements IDisposable

@rendermode RenderMode.InteractiveServer
@inject IHttpClientFactory ClientFactory
<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<h1>Hello, world!</h1>
<h2>@time</h2>
<div>
    Counter value is: @CounterState.Value at @DateTime.UtcNow.ToString("HH:mm:ss")
</div>
<button @onclick="Submit">Click</button>



@code {
    string? time;
    private System.Threading.Timer? timer;


    async Task Submit()
    {
        HttpClient httpClient = ClientFactory.CreateClient();
        var response = await httpClient.GetAsync("https://localhost:7071/time");
        time = await response.Content.ReadAsStringAsync();
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        timer = new System.Threading.Timer(_ =>
        {            
            InvokeAsync(StateHasChanged);
        }, null, 500, 500);
    }

    void IDisposable.Dispose()
    {
        timer?.Dispose();
        timer = null;
    }
    public static class CounterState
    {
        public static int Value { get; set; }
    }
}
