﻿@page "/units/i7045dconst"
<PageTitle>I7045Dconst</PageTitle>

<div class="d-flex flex-column">
    <div class="d-flex header flex-row">
        <h5>I-7045D - </h5>
        <p>&nbsp;@About</p>
    </div>
    <div class="I7045-table">
        <div class="d-flex flex-wrap i7045s-table">

            @for (int i=0;i<DOcount;i++)
            {
                <div class="p-0 one-h">
                    <div class="container one-do">
                        <h6 class="DO-name">@i</h6>
                        @{
                            int j = i;
                            }
                        <button class="dio-button on-@i" onclick="@(()=>SetState(true, j))">On</button>
                        <div class="DO-image" style="background-color:@DOcolor[i]"></div>
                        <button class="dio-button off-@i" onclick="@(()=>SetState(false, j))">Off</button>
                    </div>
                </div>
            }

        </div>
    </div>
    
</div>
@code {
    private string About = "some description";
    public int DOcount = 16;
    [Parameter]
    public bool[] DOstate { get; set; }
    private string[] DOcolor { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        DOstate = new bool[DOcount];
        DOcolor = new string[DOcount];
        for (int i = 0; i < DOstate.Length; i++)
        {
            DOstate[i] = false;
        }
    }
    private void SetState(bool state, int num)
    {
        if (num<DOstate.Length)
        DOstate[num] = state;
        if (!DOstate[num])
        {
            DOcolor[num] = "red";
        }
        else DOcolor[num] = "palegreen";
        StateHasChanged();
    }
}
