﻿@page "/units/i7045d"
@rendermode RenderMode.InteractiveServer


<PageTitle>I7045D</PageTitle>

<div class="d-flex flex-column">
    <div class="d-flex header flex-row">
        <h5>I-7045D - </h5>
        <p>&nbsp;@About</p>
    </div>
    <div class="I7045-table">
        <div class="d-flex flex-wrap i7045s-table">

            @for (int i=0;i<DOcount;i++)
            {
                <div class="p-0 one-h">
                    <div class="container one-do">
                        <h6 class="DO-name">@Names[i+109]</h6>
                        @{
                            int j = i+109;
                        }
                        <button class="dio-button on-@i" onclick="@(()=>SetState(1, j))">On</button>
                        @if (DOstate[i+109]==0)
                        {
                            <div class="DO-image" style="background-color:red"></div>
                        }
                        else
                        {
                            <div class="DO-image" style="background-color:palegreen"></div>
                        }
                        <button class="dio-button off-@i" onclick="@(()=>SetState(0, j))">Off</button>
                    </div>
                </div>
            }

        </div>
    </div>
    
</div>
@code {
    [Parameter]
    public string About { get; set; }    
    [Parameter]
    public ConcurrentDictionary<int, float> DOstate { get; set; }
    [Parameter]
    public ConcurrentDictionary<int, string> Names { get; set; } = new ConcurrentDictionary<int, string>();
    [Parameter]
    public EventCallback<Models.ParamDto> OnClickOnCallback { get; set; }
    [Parameter]
    public EventCallback<Models.ParamDto> OnClickOffCallback { get; set; }
    [Parameter]
    public int UnitId { get; set; }

    private Models.PartType partType { get; set; }
    private int DOcount;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        DOcount = DOstate.Count();
        partType = Models.PartType.Switcher;
    }
    private async void SetState(float state, int num)
    {
        if (state==0)
        {
            await OnClickOffCallback.InvokeAsync(new Models.ParamDto { param = num, PartType = partType, UnitId = UnitId });
        }
        else 
        {
            await OnClickOnCallback.InvokeAsync(new Models.ParamDto { param=num, PartType = partType, UnitId= UnitId});
        }

        StateHasChanged();
    }
}
