﻿body {
}
.header{
    height:5%;
    min-height:30px;
}
.dio-button{
    width: 40px;
}
.DO-image{
    width:40px;
    height:30px;  
    border: 1px solid black;
}
.one-h{
    padding:0px;
    margin:0px;
}
.one-do {
    padding: 0px;
    margin: 0px;
}
.DO-name{
    text-align:center;
}