﻿body {
}
.header{
    height:5%;
    min-height:30px;
}
.DO-image{
    width:40px;
    height:30px;  
    border: 1px solid black;
}
.one-h{
    padding:0px;
    margin:0px;
    border:1px solid black;
}
.one-do {
    padding: 0px;
    margin: 0px;
}
.param-name{
    margin:0px;
}
.param-value{
    margin:0px;
}