﻿@page "/units/UPC_const"
<PageTitle>UPC_const</PageTitle>

<div class="d-flex flex-column">
    <div class="header d-flex flex-row">
        <h5>UPC -</h5>
        <p>&nbsp;@About</p>
    </div>
    <div class="UPCPC-table">
        <div class="d-flex flex-wrap UPCPCs-table">

            @for (int i=0;i<DOcount;i++)
            {
                <div class="p-0 one-h">
                    <div class="container one-do">
                        <h6 class="param-name">@param_names[i]</h6>
                        <p class="param-value">@ParamValues[i]</p>
                    </div>
                </div>
            }

        </div>
    </div>
    
</div>
@code {
    private string About = "eto istochnik bespereboinogo pitania";
    public int DOcount = 8;
    [Parameter]
    public bool[] DOstate { get; set; }
    private string[] DOcolor { get; set; }
    private string[] param_names = new string[] { "i/o voltage", "i/o/f voltage", "o/p voltage", 
    "o/p current", "i/p frequency", "battery level", "temperatyre", "fault" };
    private float[] ParamValues { get; set; }

    protected override void OnInitialized()
    {
        //base.OnInitialized();
        //DOcolor = "red";
        DOstate = new bool[DOcount];
        DOcolor = new string[DOcount];
        ParamValues = new float[DOcount];
        for (int i = 0; i < DOstate.Length; i++)
        {
            DOstate[i] = false;
            ParamValues[i] = i;
        }

    }
    private void SetState(bool state, int num)
    {
        //Console.Write(state);
        //Console.WriteLine(num);
        if (num<DOstate.Length)
        DOstate[num] = state;
        if (!DOstate[num])
        {
            DOcolor[num] = "red";
        }
        else DOcolor[num] = "palegreen";
        StateHasChanged();
    }
}
