﻿/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tabs {
    flex-direction: column;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    min-height: 617px;
}

.list-group {
    max-height: 550px;
    overflow: scroll;
    
}
*, ::after, ::before {
    box-sizing: border-box;
}

.wrapper.scheme{

    height:100vh;
    max-height:600px;
    width:100vh;
}

.col-10 {
    width:100%;
}
.list-group-item {
    padding: 6px 6px 6px 6px;
    
}
.table-scheme {
    width: 100%;
    height: inherit;
    max-height: 600px;
    /*background-image: url('/images/units/schema_3.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;*/
    /*opacity: 0.2;*/
}
.hidden{
    opacity:0.5;
}
.hovered{
    opacity:0.9;
}
.js-container {
    min-height: 50px;
    min-width: 50px;
    background-color: lightgray;
    width: auto;
    height: 100%;
    border: 1px solid blue;
    padding: 0;
    /*opacity: 0.5;*/
}
.js-container-nodrag {
    min-height: 50px;
    min-width: 50px;
    background-color: powderblue;
    width: auto;
    height: 100%;
    padding: 0;
    border: 1px solid blue;
    /*opacity: 0.5;*/
}
.after-drop{
    border: 3px dashed;
    opacity: 1.0 !important;
}
.text-muted{
    float: right;
}
.cryo-part {
    /*background-image: url('/images/units/cryo_default.png');
    background-size: contain;
    background-repeat: no-repeat;
    resize: both;*/
}
.transfer {
    background-image: url('/images/units/tranfer_default.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.load-lock {
    background-image: url('/images/units/load-lock_default.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.gate-valve {
    background-image: url('/images/units/gatevalve_default.png');
    background-size: contain;
    background-repeat: no-repeat;

}
.anal-chamber {
    /*background-image: url('/images/units/anal-chamber_default.png');
    background-size: contain;
    background-repeat: no-repeat;*/
}
.tmp-ll {
    /*background-image: url('/images/units/TMP_default_OFF.png');
    background-size: contain;
    background-repeat: no-repeat;*/
}
.tmp-ac {
    /*background-image: url('/images/units/TMP_default_OFF.png');
    background-size: contain;
    background-repeat: no-repeat;*/
}
.pump-ll {
    /*background-image: url('/images/units/Pump_default_OFF.png');
    background-size: contain;
    background-repeat: no-repeat;*/
}
.pump-ac {
    /*background-image: url('/images/units/Pump_default_OFF.png');
    background-size: contain;
    background-repeat: no-repeat;*/
}
.gauge-hv-ll {
    /*background-image: url('/images/units/gauge_default.png');
    background-size: contain;
    background-repeat: no-repeat;*/
}
.gauge-hv-ac {
    /*background-image: url('/images/units/gauge_default.png');
    background-size: contain;
    background-repeat: no-repeat;*/
}
.gauge-lv-ll {
    /*background-image: url('/images/units/gauge_default.png');
    background-size: contain;
    background-repeat: no-repeat;*/
}
.gauge-lv-ac {
    /*background-image: url('/images/units/gauge_default.png');
    background-size: contain;
    background-repeat: no-repeat;*/
}
.valve-ll {
    background-image: url('/images/units/valve_default_OFF.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.valve-ac {
    background-image: url('/images/units/valve_default_OFF.png');
    background-size: contain;
    background-repeat: no-repeat;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.img-my {
    /*
        object-fit: contain;
        
        max-height:inherit;
    max-width:inherit;*/
    width: 100%;

    object-fit: scale-down;
}
.container-image {
    overflow: hidden;
    /*background-color: antiquewhite;*/
    width: 70px;
    height: 100px;

}
.unit-js {
    border: 1px solid;
    float: right;
    font-size: small;
    flex-direction: column;
}
.unit-switcher {
    background-image: url('/images/units/switcher.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.unit-gauge {
    background-image: url('/images/units/gauge_image.png');
    background-size: contain;
    background-repeat: no-repeat;
}
