﻿@using TestClient.Models

@{
    ViewData["Title"] = "Home Page";
}

<table class="table-primary" width="100%" cellspacing="0" cellpadding="5">
    <tr>
        <td id="leftcol" width="80%">
            <div class="wrapper tabs">
                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'MainScheme')" id="defaultOpen">Схема установки</button>
                    <button class="tablinks" onclick="openTab(event, 'UnitInfo')">Описание узлов</button>
                    <button class="tablinks" onclick="openTab(event, 'Settings')">Настройки</button>
                    <button class="tablinks" onclick="openTab(event, 'Test')">Тесты</button>
                </div>
                
                <!--Tab content-->
                <div id="MainScheme" class="tabcontent" >
                    <div class="wrapper scheme">
                        <table class="table-scheme">
                            <tr>
                                <td class="scheme-part" width="85%">
                                    <table class="scheme-pictures" width="100%" height="100%">
                                        <tr style="height:13%">
                                            <td width="24%"></td>
                                            <td width="17%"></td>
                                            <td width="17%"></td>
                                            <td width="8%"></td>
                                            <td colspan="2">
                                                <div class="js-container" id="cryo" style="text-align:center">
                                                    <p4>Криосистема</p4>
                                                </div>
                                            </td>                                            
                                        </tr>
                                        <tr style="height:29%">
                                            <td class="transfer"></td>
                                            <td colspan="2">
                                                <div class="js-container-nodrag" style="text-align:center">
                                                    <p3 >Загрузочный объем</p3>
                                                </div>
                                            </td>
                                            <td class="gate-valve"></td>
                                            <td colspan="2">
                                                <div class="js-container-nodrag" style="text-align:center">
                                                    <p3>Анализационный объем</p3>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr style ="height:9%">
                                            <td width="24%"></td>
                                            <td width="17%" rowspan="2">
                                                <div class="js-container tmp-ll" style="text-align:center">
                                                    <p4>Высоковакуумный насос</p4>
                                                </div>
                                            </td>
                                            <td width="17%">
                                                <div class="js-container gauge-hv-ll" style="text-align:center">
                                                    <p4>Датчик СВВ</p4>
                                                </div>
                                            </td>
                                            <td width="8%"></td>
                                            <td width="17%" rowspan="2">
                                                <div class="js-container tmp-ac" style="text-align:center">
                                                    <p4>Высоковакуумный насос</p4>
                                                </div>
                                            </td>
                                            <td width="17%">
                                                <div class="js-container gauge-hv-ac" style="text-align:center">
                                                    <p4>Датчик СВВ</p4>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr style="height:15%">
                                            <td width="24%"></td>                                            
                                            <td width="17%"></td>
                                            <td width="8%"></td>                                            
                                            <td width="17%"></td>
                                        </tr>
                                        <tr style="height:9%">
                                            <td width="24%"></td>
                                            <td width="17%" class="valve-ll"></td>
                                            <td width="17%"></td>
                                            <td width="8%"></td>
                                            <td width="17%" class="valve-ac"></td>
                                            <td width="17%"></td>
                                        </tr>
                                        <tr style ="height:9%">
                                            <td width="24%"></td>
                                            <td width="17%" rowspan="2">
                                                <div class="js-container pump-ll" style="text-align:center">
                                                    <p4>Форвакуумный насос</p4>
                                                </div>
                                            </td>
                                            <td width="17%">
                                                <div class="js-container gauge-lv-ll" style="text-align:center">
                                                    <p4>Датчик НВ</p4>
                                                </div>
                                            </td>
                                            <td width="8%"></td>
                                            <td width="17%" rowspan="2">
                                                <div class="js-container pump-ac" style="text-align:center">
                                                    <p4>Форвакуумный насос</p4>
                                                </div>
                                            </td>
                                            <td width="17%">
                                                <div class="js-container gauge-lv-ac" style="text-align:center">
                                                    <p4>Датчик НВ</p4>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="24%"></td>
                                            <td width="17%"></td>
                                            <td width="8%"></td>
                                            <td width="17%"></td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="scheme-part" width="15%">
                                    <div class="container">
                                        <div class="js-container" style="text-align:center">
                                            <p4>Сотальные юниты</p4>
                                        </div>
                                        <div class="js-container" style="text-align:center">
                                            <p4>Сотальные юниты</p4>
                                        </div>
                                        <div class="js-container" style="text-align:center">
                                            <p4>Сотальные юниты</p4>
                                        </div>
                                        <div class="js-container" style="text-align:center">
                                            <p4>Сотальные юниты</p4>
                                        </div>
                                    </div>                                   
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="UnitInfo" class="tabcontent">
                   <h3>Всякая разная информация</h3>
                   <p>Что-то о узле и так далее и так вечно и так бесконечно</p>
                </div>
                <div id="Settings" class="tabcontent">
                    <h3>Всякие настройки и параметры</h3>
                    <p>один миллион, тысяча пятьсот пятьдесят чисекло и непонятных параметров</p>
                </div>
                <div id="Test" class="tabcontent">
                    <h3>test tab</h3>
                    <table>
                        @if (ViewBag.Switchers != null)
                        {
                            foreach (var p in ViewBag.Switchers)
                            {
                                <tr><td>@p.Key</td><td>@p.Value</td></tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </td>
        <td id="rightcol">
            <div class="d-flex flex-column" >
                <h3 class="units-list-geader">
                    Перечень узлов
                </h3>
                <div class="list-group" id="itemlist">
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex">                            
                            <strong class="mb-1">
                                Ваккумный датчик                                
                            </strong>
                            <div class="d-flex unit-js" draggable="true" id="hv-gauge">                                
                                <div class="container-image unit-gauge"></div>
                                <div class="pressure">44E-10</div>
                            </div>                                                       
                        </div>
                        <div class="col-10 mb-1 small">Thyracont 10Е-10 Торр</div>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex">
                            <strong class="mb-1">Блок цифровых выходов</strong>
                            <div class="d-flex unit-js" draggable="true" id="switcher">                                
                                <div class="container-image unit-switcher"></div>
                                <div class="pressure">44E-10</div>
                            </div>
                        </div>
                        <div class="col-10 mb-1 small">ICP DAS 7045D</div>
                    </div>
                    <div id="UPC" class="list-group-item list-group-item-action">
                        <div class="d-flex">
                            <strong class="mb-1">ИБП</strong>
                            <small class="text-muted">PowerCom</small>
                        </div>
                        <div class="col-10 mb-1 small">Источник бесперебойного питания PowerCom </div>
                    </div>

                    <div id="TMP" class="list-group-item list-group-item-action">
                        <div class="d-flex">
                            <strong class="mb-1">Турбомлекулярный насос</strong>
                            <small class="text-muted">КВТ-150</small>
                        </div>
                        <div class="col-10 mb-1 small">Турбомолекулярный насос КВТ-150</div>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex">
                            <strong class="mb-1">Заголовок элемента группы списка</strong>
                            <small class="text-muted">Вторник</small>
                        </div>
                        <div class="col-10 mb-1 small">Некоторый заполнитель в абзаце под заголовком и датой.</div>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex">
                            <strong class="mb-1">Заголовок элемента группы списка</strong>
                            <small class="text-muted">Понедельник</small>
                        </div>
                        <div class="col-10 mb-1 small">Некоторый заполнитель в абзаце под заголовком и датой.</div>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex">
                            <strong class="mb-1">Заголовок элемента группы списка</strong>
                            <small class="text-muted">Среда</small>
                        </div>
                        <div class="col-10 mb-1 small">Некоторый заполнитель в абзаце под заголовком и датой.</div>
                    </div>
                    
                </div>
            </div>
        </td>
    </tr>

</table>


